# File: tianyusun1/test2/test2-bbb825395418d78edd547068aa7210d1e2c95933/configs/default.yaml

model:
  # BERT encoder
  bert_path: "/home/610-sty/huggingface/bert-base-chinese"
  hidden_size: 768  # BERT hidden size
  # Layout decoder
  bb_size: 64       
  decoder_layers: 6       
  decoder_heads: 8
  dropout: 0.2      
  # Output
  num_classes: 9    
  
  # --- DISCRETE BBOX PARAMETERS (NEW) ---
  num_bbox_bins: 1000       
  cls_embed_dim: 16         
  bbox_embed_dim: 12        
  iou_loss_weight: 200.0     # <<<< 修改: IOU 排斥损失权重 (5.0 -> 100.0)
  # --------------------------------------
  
  coord_loss_weight: 1.0     # BBox Token 分类损失
  reg_loss_weight: 50.0       # 连续回归损失权重
  cls_loss_weight: 300.0     # 分类损失权重
  count_loss_weight: 10.0   # <<<< 新增: 数量预测损失权重
  area_loss_weight: 10.0    # <<<< 新增: 面积惩罚权重 (惩罚大框)
  # Inference
  max_elements: 30 
  # Data paths
  xlsx_path: "/home/610-sty/Layout2Paint/dataset/6800poems.xlsx"
  images_dir: "/home/610-sty/Layout2Paint/dataset/6800"
  labels_dir: "/home/610-sty/Layout2Paint/dataset/6800/JPEGImages-pre_new_txt"
  max_layout_length: 30
  max_text_length: 64

training:
  batch_size: 16
  epochs: 100
  learning_rate: 0.00005 
  warmup_steps: 1000
  save_every: 10 
  output_dir: "./outputs"
  log_steps: 10

inference:
  max_output_length: 30
  # beam_size: 1